:root {
  --content-primary: #ffffff;
  --content-secondary: #c7c9cc;
  --content-brand: #c58de7;

  --ff-sora: "Sora", sans-serif;
  --ff-roboto-flex: "Roboto Flex", sans-serif;
  --title-lg: 800 4.5rem/1.3 var(--ff-sora);
  --title-md: 800 2.5rem/1.3 var(--ff-sora);
  --title-sm: 700 2rem/1.3 var(--ff-sora);
  --label-lg: 700 1.25rem/1.5 var(--ff-roboto-flex);
  --label-md: 700 1rem/1.5 var(--ff-roboto-flex);
  --paragraph-lg: 500 1rem/1.5 var(--ff-roboto-flex);
  --paragraph-md: 500 0.875rem/1.5 var(--ff-roboto-flex);
  --paragraph-sm: 500 0.75rem/1.5 var(--ff-roboto-flex);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-roboto-flex);
  color: var(--content-secondary);
}

body {
  background: #020202 url(../assets/Shapes.png);
  min-height: 100dvh;
  padding-block: 2.75rem;
}

img {
  max-width: 100%;
}

.logo {
  display: block;
  margin-inline: auto;
  margin-bottom: 2.875rem;
}

@media screen and (width >= 80rem) {
  body {
    display: flex;
    align-items: center;
  }

  .logo {
    display: initial;
    margin-bottom: 5.5rem;
  }

  main {
    flex: 1;
    padding-inline: 2rem;

    & > div {
      display: grid;
      grid-template-areas:
        "header form"
        "questions form";
      gap: 2.375rem;
      align-items: center;
      justify-items: center;
    }
  }
}
