:root {
  --content-primary: #ffffff;
  --content-secondary: #c7c9cc;
  --content-brand: #c58de7;

  --ff-sora: "Sora", sans-serif;
  --ff-roboto-flex: "Roboto Flex", sans-serif;
  --title-lg: 800 4.5rem/1.3 var(--ff-sora);
  --title-md: 800 2.5rem/1.3 var(--ff-sora);
  --title-sm: 700 2rem/1.3 var(--ff-sora);
  --label-lg: 700 1.25rem/1.5 var(--ff-roboto-flex);
  --label-md: 700 1rem/1.5 var(--ff-roboto-flex);
  --paragraph-lg: 500 1rem/1.5 var(--ff-roboto-flex);
  --paragraph-md: 500 0.875rem/1.5 var(--ff-roboto-flex);
  --paragraph-sm: 500 0.75rem/1.5 var(--ff-roboto-flex);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-roboto-flex);
  color: var(--content-secondary);
}

body {
  background: url("../assets/Shapes.png"),
    linear-gradient(to bottom, #020202, #121214);
  min-height: 100dvh;
  padding-block: 2.75rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(to bottom, #020202 0%, rgba(2, 2, 2, 0.5) 100%);
  }
}

main > div {
  padding-inline: 2rem;
}

img {
  max-width: 100%;
}

.logo {
  display: block;
  margin-inline: auto;
  margin-bottom: 2.875rem;
}

.hidden {
  display: none;
}

& .button {
  background: linear-gradient(#24222e, #24222e) padding-box,
    linear-gradient(#24222e, #24222e) border-box;
  background-size: 100% 100%, 100% 100%;
  width: 100%;
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--content-primary);
  font: var(--label-md);
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 2.5rem;
  outline: none;

  &:hover,
  &:focus {
    background: linear-gradient(#24222e, #24222e) padding-box,
      linear-gradient(
          to right,
          #77c0af 0%,
          #d1dc97 14.84%,
          #e9a9b3 32.15%,
          #d586e0 65.79%,
          #91a1fa 84.58%
        )
        border-box;
    background-size: 100% 100%, 300% 100%;
    animation: borderMove 4s linear infinite;
  }
}

@media screen and (width >= 80rem) {
  body {
    display: flex;
    align-items: center;
  }

  .logo {
    display: initial;
    margin-bottom: 5.5rem;
  }

  main {
    flex: 1;
    padding-inline: 2rem;
    max-width: 80rem;
    margin-inline: auto;

    & > div {
      display: grid;
      grid-template-areas:
        "header form"
        "questions form";
      gap: 2.375rem;
      align-items: center;
      justify-items: center;
    }
  }
}
