#result-container {
  margin-top: 4.375rem;

  & > div:first-child {
    text-align: center;
    margin-bottom: 2.5rem;

    & h2 {
      font: var(--label-lg);
      color: var(--content-primary);
      margin-bottom: 0.25rem;
      text-transform: uppercase;
    }

    & span {
      font: 700 1rem/1.5 "Roboto Mono", monospace;
      text-transform: uppercase;
    }
  }

  & #result-values {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    & span {
      font: 700 2rem/1.5 "Roboto Mono", monospace;
      color: #030203;
      opacity: 0;
      transform: scale(0);
      padding: 0.5rem 1rem;
      position: relative;
      animation: color-change 0.5s ease calc(var(--delay) + 1s) forwards,
        appear 0.5s ease var(--delay) forwards;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: var(--content-brand);
        border-radius: 1.75rem;
        z-index: -1;
        animation: rotate 1s ease var(--delay),
          disappear 0.5s ease calc(var(--delay) + 1s) forwards;
      }
    }
  }

  @media screen and (width >= 80rem) {
    max-width: 30.125rem;
    width: 100%;
    grid-area: form;
    margin-top: initial;

    & #result-values {
      max-height: 12rem;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 4px;
        display: block;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--content-brand);
        border-radius: 0.5rem;
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg) scale(0);
    opacity: 0;
  }
  to {
    transform: rotate(720deg) scale(1);
    opacity: 1;
  }
}

@keyframes appear {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes color-change {
  from {
    color: #030203;
  }
  to {
    color: var(--content-brand);
  }
}
